# Build
build/bin/
frontend/dist/
frontend/node_modules/

plugins/volt-boards/dist/
plugins/volt-boards/node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Volt data
.volt/

# Other
.claude/
